// Fonts
$font-grotesk: Hanken Grotesk;
$font-small: 500;
$font-medium: 700;
$font-large: 800;
$font-paragraph: 18px;
// Primary Colors
$primary-red: hsl(0, 100%, 67%);
$primary-orange: hsl(39, 100%, 56%);
$primary-green:  hsl(166, 100%, 37%);
$primary-blue: hsl(234, 85%, 45%);

// Gradient Colors
$light-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsl(241, 100%, 89%);

// Neutral Colors
$white-color: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$gray-blue: hsl(224, 30%, 27%)

